/* Git Workflow Simulation Styles */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #22c0bb;
    background-image:url('image/together.png');
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

